{% extends "./base.html" %}
{% load static %}


{% block content %}

<!-- summary -->
<div class="row mb-5">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Membership Stats</h5>
            </div>
            <div class="card-body">

                <ul class="list-group list-group-flush mb-3">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Total Members
                        <span class="badge bg-primary rounded-pill">{{members.total_members_count}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        New Members This Month
                        <span class="badge bg-success rounded-pill">{{members.total_new_members}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Upcoming Renewals (Next 30 Days)
                        <span class="badge bg-warning text-dark rounded-pill">{{members.upcoming_renewals}}</span>
                    </li>
                </ul>
                <a href="/members" class="btn btn-outline-primary w-100">View All Members</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Subscription Stats</h5>
            </div>
            <div class="card-body">
                
                <ul class="list-group list-group-flush mb-3">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Active Subscriptions
                        <span class="badge bg-primary rounded-pill">{{subscriptions.active_subscriptions}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Average Monthly Revenue
                        <span class="badge bg-success rounded-pill">${{subscriptions.average_monthly_revenue}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Total Revenue
                        <span class="badge bg-dark rounded-pill">${{subscriptions.total_revenue}}</span>
                    </li>
                </ul>
                <a href="/subscriptions" class="btn btn-outline-primary w-100">View Subscriptions</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card">
            <h5 class="card-header">Upcoming Renewals</h5>
            <div class="x_content">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <!-- <th>#</th> -->
                            <th>Name</th>
                            <th>Expiration Date</th>
                            <th>Days left</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for member in members.upcoming_renewals_members %}
                        <tr>
                            <th scope="row">{{member.name}}</th>
                            <td>{{member.member_payments.expiration_date}}</td>
                            <td>{{member.}}</td>
                            <td>@mdo</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <h5 class="card-header">New Members</h5>
            <div class="x_content">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <!-- <th>#</th> -->
                            <th>Name</th>
                            <th>Type</th>
                            <th>Expiration Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for member in members.new_members %}
                        <tr>
                            <th scope="row">{{member.name}}</th>
                            <td>{{member.member_payments.expiration_date}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

{% endblock %}